.snack-show {
  animation: pop-down 0.3s ease forwards;
}

@keyframes pop-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
