@import "tailwindcss";

@theme {
  --color-primary: #eeeaea;
  --color-primary: #f5f4f4;
  --color-secondary: #011111;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-accent: black;
  --color-button: #000000;
  --font-family: "poppins", sans-serif;
}
.apply {
  @apply bg-red-500;
}
.centered {
  @apply flex items-center justify-center;
}
.flex-left {
  @apply flex items-center justify-start;
}
.top-left {
  @apply flex items-start justify-start;
}

.border-light-bottom {
  @apply border-b border-zinc-300;
}

.text-cliped-gradient-blue {
  @apply text-transparent bg-gradient-to-r from-cyan-500 to-blue-800 bg-clip-text;
  transition: 0.5s;
}
.text-cliped-gradient-blue:hover {
  @apply text-transparent bg-gradient-to-r from-sky-500 to-cyan-500 bg-clip-text;
}

.heading {
  @apply text-2xl font-bold;
}

.sub-heading {
  @apply text-xl font-medium;
}

.null-value-text {
  @apply text-sm text-center;
}

.input-field {
  width: 100%;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 8px;
}

.input-field:focus {
  outline: none;
  border: 1px solid var(--color-text);
}

.input-grad-btn-0 {
  @apply text-white bg-gradient-to-tr from-black to-zinc-600 hover:from-zinc-800 hover:to-zinc-500 hover:scale-95;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.input-grad-btn-cancel {
  @apply text-white bg-gradient-to-tr from-red-500 to-red-700 hover:from-red-800 hover:to-red-500 hover:scale-95;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.input-grad-btn {
  @apply text-white bg-gradient-to-tr from-black to-zinc-600 hover:from-zinc-800 hover:to-zinc-500 hover:scale-95;
  width: 80px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.input-grad-btn-invert {
  @apply text-black bg-white border border-zinc-400 hover:scale-95 hover:bg-zinc-100;
  width: 80px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.shadow-top {
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.16);
}
