@import "tailwindcss";

@theme {
  --color-primary: #eeeaea;
  --color-primary: #f5f4f4;
  --color-secondary: #011111;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-accent: black;
  --color-button: #000000;
  --font-family: "poppins", sans-serif;
}
.apply {
  @apply bg-red-500;
}
.centered {
  @apply flex items-center justify-center;
}
.flex-left {
  @apply flex items-center justify-start;
}
.top-left {
  @apply flex items-start justify-start;
}
